<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Full Stack JS</title>
    </head>
    <body>
        <div id="root">
            Loading...
        </div>
        <script src="bundle.js" charset="utfd-8"></script>
    </body>
</html>